*{
    margin: 0;
    padding: 0;
}

body{
    background-color: pink;
    text-align: center;
}

.container{
    height: 72vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    background-color: beige;
    color: black;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 6vmin;
} 

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: beige;
    border-radius: 1rem;
}

#new-btn{
     padding: 1rem;
    font-size: 1.25rem;
    background-color: beige;
    border-radius: 1rem;
}

#msg{
    font-size: 5vmin;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.msg-container{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.hide{
    display: none;
}

#personal{
    padding: 1rem ;
}
h1{
    padding-top: 2rem;
}